html {
    font-size: 1em;
    line-height: 1.4;
}

.exercise .form-control {
    background-color: #252525;
    color: inherit;
}

.navbar {
    margin-bottom: 2rem;
}

.exercise .card-text {
    font-size: 2rem;
}

.exercise h1 {
    font-size: 1.5rem;
}

.exercise .form-control {
    border: 0;
    border-bottom: 2px solid;
    border-radius: 0;
}

.exercise .result-word {
    font-style: italic;
    cursor: pointer;
}

.displayErrors input:invalid {
    border-width: 2px;
    border-color: red;
  }

.creator-label {
    margin-bottom: 10rem;
}